
.movie{
    display:flex;
    flex-direction:column;
    padding:10px;
    margin: 10px;
    width:15vw;  
    align-items:center
}

.list{
    margin: 10px 0px;
    display:flex;
    flex-direction:column
}
.title_and_button{
    display:flex;
    flex-direction:row;
    background-color: #ccc;
    color: #088;
    justify-content: center;
    align-items: center;
}
.listBody{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100vw
    
}
.movieImg{
    width:15vw;
    height:auto
}
.movieBody{
    width:15vw;
    background-color: #888;
    font-weight: lighter;
}
.movieName{
color: #300;
}
.movieYear{
color: #07f;    
}
.a{
    right: 0;
    position: absolute;
}
.button{
border: none;
background-color: #088;
color: #000;
padding: 4px 10px;
border-radius: 0.5vw;
margin-right: 10px;
}
.button:hover{
color: #fff;
font-weight: bold;
    /* background-color: #5aa; */
}
.listtitle{
    background-color: #088;
    color: #fff;
    height: 10vh;
    width: 100vw;
    align-items: center;
}
.cast-detail,.add-info {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: darkcyan;
}
.block{
       width: 50%;
}
.plot{
       padding: 10px;
       margin: 10px;
}
.movie-basic{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    overflow: scroll;
}
.poster{
    width: 40%;
    float: left;
}
.movie-info{
    width: 60%;
    float: right;
    display: flex;
    flex-direction: column;
}
.movie-amt{
margin: 50px 0px;
} 
.year, .duration, .genre{
    margin: 10px;
}
.buyRent{
background-color: #f00; /* Green */
border: none;
color: white;
padding: 15px 32px;
margin: 10px; 
text-align: center;
/* display: inline-block; */
font-size: 16px;
}
.small-header{
    background-color: #aaa;
    margin: auto 10px auto auto;
    padding: 10px;
}