.plot{
    padding: 10px;
    margin: 10px;
}

.cast-detail,.add-info {
 margin: 10px;
 padding: 10px;
 display: flex;
 flex-wrap: wrap;
 width: 100%;
}
.block{
    width: 50%;
    padding: 10px;
}
.movie-cast-and-info{
    width: 99vw;
}